:root {
  --primary: #00baf2;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

/* Event form */
.section-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/hrz-5.jpg");
  background-position: center;
  background-size: cover;
}

#event-subscription {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

#disclaimer .about-event {
  font-size: 2em;
  text-transform: uppercase;
  max-width: 350px;
  font-weight: bold;
  margin-bottom: 1em;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  max-width: 22%;
}

#subscription-form p {
  font-size: 1.5em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#subscription-form input[type="submit"] {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

#subscription-form input[type="submit"]:hover {
  opacity: 1;
}

/* Benefits section */
#key-benefits h2 {
  background-color: var(--secondary);
  text-align: center;
  padding: 2em;
  font-weight: 500;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
}

.benefit .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1 {
  background-image: url("../img/sqr-1.jpg");
}

#benefit-2 {
  background-image: url("../img/sqr-2.jpg");
}

#benefit-3 {
  background-image: url("../img/sqr-3.jpg");
}

/* Event location */
#location {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/hrz-5.jpg");
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
}

#address,
#about-location {
  max-width: 30%;
}

#address {
  display: flex;
}

#address i {
  color: var(--primary);
  font-size: 4em;
}

#address-details {
  text-align: center;
  font-size: 1.3em;
}

#about-location h3 {
  color: var(--primary);
}
