:root {
  --primary: #00baf2;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

/* Event form */
#event-subscription {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/hrz-5.jpg");
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

#disclaimer .about-event {
  font-size: 2em;
  text-transform: uppercase;
  max-width: 350px;
  font-weight: bold;
  margin-bottom: 1em;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  max-width: 22%;
}

#subscription-form p {
  font-size: 1.5em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

/* Benefits section */
#key-benefits h2 {
  background-color: var(--secondary);
  text-align: center;
  padding: 2em;
  font-weight: 500;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 4em;
  width: 80%;
  margin: 0 auto;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
}

.benefit .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1 {
  background-image: url("../img/sqr-1.jpg");
}

#benefit-2 {
  background-image: url("../img/sqr-2.jpg");
}

#benefit-3 {
  background-image: url("../img/sqr-3.jpg");
}

/* Event location */
#location {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/hrz-1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-bottom: 3em;
}

#address,
#about-location {
  max-width: 30%;
}

#address {
  display: flex;
}

#address i {
  color: var(--primary);
  font-size: 4em;
  margin-right: 0.5em;
}

#address-details {
  text-align: center;
  font-size: 1.3em;
}

#about-location h3 {
  color: var(--primary);
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#about-location p {
  line-height: 1.5em;
}

/* Event details container */
#details {
  width: 80%;
  margin: 0 auto;
}

.detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 4em;
}

.detail img {
  width: 50%;
}

.detail h3 {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 500;
}

#detail-1 h3 {
  font-size: 3em;
  font-weight: 700;
}

.detail-description {
  width: 100%;
  padding-left: 2em;
}

#detail-3 .detail-description {
  justify-self: flex-start;
}

.detail-description ul {
  list-style-position: inside;
}

.detail-description ul li {
  margin-bottom: 0.4em;
}

.detail-description ul li:last-child {
  font-weight: bold;
}

/* Call to Action Section */
#cta {
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/hrz-6.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
}

#cta h3 {
  margin-bottom: 1.2em;
  font-size: 2em;
  font-weight: 500;
}

#cta .btn {
  width: 30%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2em;
}

/* Footer */
#footer {
  text-align: center;
  color: var(--secondary);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer h3 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

#footer p:nth-child(2) {
  margin-bottom: 1em;
  font-size: 1.2em;
}

#footer span {
  font-weight: bold;
}

/* Mobile */
@media (max-width: 450px) {
  /* Event form */
  #event-subscription {
    flex-direction: column;
    height: auto;
  }

  #disclaimer {
    padding: 2em;
  }

  #disclaimer h2 {
    margin-bottom: 0.5em;
  }

  #subscription-form {
    max-width: 70%;
    margin-bottom: 2em;
  }

  /* Benefits section */
  .benefits {
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
  }

  .benefit {
    max-width: 100%;
    margin-bottom: 2em;
  }

  /* Event location */
  #location {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 2em 0;
  }

  #address {
    order: 2;
    flex-direction: column;
    max-width: 100%;
  }

  #address i {
    margin: 0.3em 0;
  }

  #about-location {
    order: 1;
    max-width: 100%;
  }

  #about-location h3 {
    margin-bottom: 0;
  }

  #about-location p {
    display: none;
  }

  /* Event details container */
  .detail {
    flex-direction: column;
    margin-bottom: 0.5em;
    gap: 0;
  }

  .detail img {
    width: 100%;
    margin: 2em 0;
  }

  #detail-1 img {
    display: none;
  }

  .detail-description {
    padding: 0;
  }

  #detail-3 img {
    order: 2;
  }

  #detail-3 .detail-description {
    order: 1;
  }

  /* Call to Action Section */
  #cta .btn {
    width: 80%;
  }
}
